.logo{
	float: left;
    vertical-align: top;
    width: 280px;
    height: 90px;    
}
.topnav {
  overflow: hidden;
  background-color: #DAE6E4;
}

.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 35px 20px;
  text-decoration: none;
  font: bold 18px sans-serif;
}

.topnav a:hover {
  background-color: #43C0BA;
  color: white;
}